In [62]:
# Import Dependencies
import pandas as pd

# Load Files
school_data_csv = "Resources/schools_complete.csv"
student_data_csv = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(school_data_csv)
student_data_df = pd.read_csv(student_data_csv)

# Combine the data into a single dataset.  
combined_data_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
# combined_data_df.head()

In [84]:
# District Summary
# Calculate the total number of schools
school_count = len(combined_data_df["school_name"].unique())

# Calculate the total number of students
student_count = combined_data_df["Student ID"].count()
#student_count

# Calculate the total budget
# grouped_school_data = combined_data_df.groupby(['school_name'])
# grouped_school_data.head()
# df = pd.DataFrame.drop_duplicates(combined_data_df.)
# school_budget = combined_data_df["school_name"].unique()and combined_data)df["budget"]
district_budget = school_data_df["budget"].sum() 
district_budget

#Calculate the average math score
avg_math_score = combined_data_df["math_score"].mean()/100
#avg_math_score

# Calculate the average reading score
avg_reading_score = combined_data_df["reading_score"].mean()/100
# avg_reading_score

# Calculate the percentage of students with a passing math score (70 or greater)
passing_math_list = combined_data_df.loc[combined_data_df["math_score"]>=70, :]
passing_math = (passing_math_list["Student ID"].count()) / (combined_data_df["Student ID"].count())
#passing_math

# Calculate the percentage of students with a passing reading score (70 or greater)
passing_reading_list = combined_data_df.loc[combined_data_df["reading_score"]>=70, :]
passing_reading = (passing_reading_list["Student ID"].count()) / (combined_data_df["Student ID"].count())
#passing_reading

# Calculate the percentage of students who passed math and reading (% Overall Passing)
passing_both_list = combined_data_df.loc[(combined_data_df["math_score"]>=70) & (combined_data_df["reading_score"]>=70)]
passing_both = (passing_both_list["Student ID"].count()) / (combined_data_df["Student ID"].count())
#passing_both

# Create a Summary DataFrame
district_summary_df = pd.DataFrame({"Total Schools": [school_count],
                                   "Total Students": [student_count],
                                   "Total Budget": [district_budget],
                                   "Average Math Score": [avg_math_score],
                                   "Average Reading Score": [avg_reading_score],
                                   "% Passing Math": [passing_math],
                                   "% Passing Reading": [passing_reading],
                                   "% Overall Passing": [passing_both]})
district_summary_df.head()


# Optional: give the displayed data cleaner formatting
format_dict = {'Total Students':'{:,}', 'Total Budget':'${:,.2f}', 'Average Math Score':'{:.2%}','Average Reading Score':'{:.2%}','% Passing Math':'{:.2%}','% Passing Reading':'{:.2%}','% Overall Passing':'{:.2%}'}
district_summary_df.style.format(format_dict)

In [61]:
# School Summary
    # Reference activity 2-6 "GroupBy"
# Create an overview table that summarizes key metrics about each school, including:
school_summary = combined_data_df.groupby(['school_name'])
print(school_summary)
school_summary.count().head(15)

# School Name
# School Type
# Total Students
# Total School Budget
# Per Student Budget
# Average Math Score
# Average Reading Score
# % Passing Math
# % Passing Reading
# % Overall Passing (The percentage of students that passed math and reading.)
# Create a dataframe to hold the above results

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7f89eac46898>

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Bailey High School,4976,4976,4976,4976,4976,4976,4976,4976,4976,4976
Cabrera High School,1858,1858,1858,1858,1858,1858,1858,1858,1858,1858
Figueroa High School,2949,2949,2949,2949,2949,2949,2949,2949,2949,2949
Ford High School,2739,2739,2739,2739,2739,2739,2739,2739,2739,2739
Griffin High School,1468,1468,1468,1468,1468,1468,1468,1468,1468,1468
Hernandez High School,4635,4635,4635,4635,4635,4635,4635,4635,4635,4635
Holden High School,427,427,427,427,427,427,427,427,427,427
Huang High School,2917,2917,2917,2917,2917,2917,2917,2917,2917,2917
Johnson High School,4761,4761,4761,4761,4761,4761,4761,4761,4761,4761
Pena High School,962,962,962,962,962,962,962,962,962,962
Rodriguez High School,3999,3999,3999,3999,3999,3999,3999,3999,3999,3999
Shelton High School,1761,1761,1761,1761,1761,1761,1761,1761,1761,1761
Thomas High School,1635,1635,1635,1635,1635,1635,1635,1635,1635,1635
Wilson High School,2283,2283,2283,2283,2283,2283,2283,2283,2283,2283
Wright High School,1800,1800,1800,1800,1800,1800,1800,1800,1800,1800

In [ ]:
# Top Performing Schools
    #Reference activity 2-9 "Search for the Worst"

In [ ]:
# Bottom Performing Schools
    #Reference activity 2-9 "Search for the Worst"

In [ ]:
# Math Scores by Grade

In [ ]:
# Reading Scores by Grade

In [ ]:
# Scores by School Spending

In [ ]:
# Scores by School Size

In [ ]:
# Scores by School Type