In [13]:
# Import Dependencies
import pandas as pd

# Load Files
school_data_csv = "Resources/schools_complete.csv"
student_data_csv = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(school_data_csv)
student_data_df = pd.read_csv(student_data_csv)

# Combine the data into a single dataset.  
combined_data_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
combined_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [23]:
# District Summary
# Calculate the total number of schools
school_count = len(combined_data_df["school_name"].unique())
school_count

# Calculate the total number of students
# student_count_df = len(combined_data_df["student_name"].unique())
student_count = combined_data_df.count()

# Calculate the total budget
grouped_school_data = combined_data_df.groupby(['school_name'])
grouped_school_data.head()

# Calculate the average math score
# Calculate the average reading score
# Calculate the percentage of students with a passing math score (70 or greater)
# Calculate the percentage of students with a passing reading score (70 or greater)
# Calculate the percentage of students who passed math and reading (% Overall Passing)
# Create a dataframe to hold the above results
# Optional: give the displayed data cleaner formatting

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
37535,37535,Norma Mata,F,10th,Thomas High School,76,76,14,Charter,1635,1043130
37536,37536,Cody Miller,M,11th,Thomas High School,84,82,14,Charter,1635,1043130
37537,37537,Erik Snyder,M,9th,Thomas High School,80,90,14,Charter,1635,1043130
37538,37538,Tanya Martinez,F,9th,Thomas High School,71,69,14,Charter,1635,1043130
37539,37539,Noah Erickson,M,9th,Thomas High School,86,76,14,Charter,1635,1043130