In [18]:
# Import Dependencies
import pandas as pd

# Load Files
school_data_csv = "Resources/schools_complete.csv"
student_data_csv = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(school_data_csv)
student_data_df = pd.read_csv(student_data_csv)

# Combine the data into a single dataset.  
combined_data_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])

In [19]:
# District Summary
# Calculate the total number of schools
school_count = len(combined_data_df["school_name"].unique())

# Calculate the total number of students
student_count = combined_data_df["Student ID"].count()

# Calculate the total budget
district_budget = school_data_df["budget"].sum() 
district_budget

#Calculate the average math score
avg_math_score = combined_data_df["math_score"].mean()/100

# Calculate the average reading score
avg_reading_score = combined_data_df["reading_score"].mean()/100

# Calculate the percentage of students with a passing math score (70 or greater)
passing_math_list = combined_data_df.loc[combined_data_df["math_score"]>=70, :]
passing_math = (passing_math_list["Student ID"].count()) / (combined_data_df["Student ID"].count())

# Calculate the percentage of students with a passing reading score (70 or greater)
passing_reading_list = combined_data_df.loc[combined_data_df["reading_score"]>=70, :]
passing_reading = (passing_reading_list["Student ID"].count()) / (combined_data_df["Student ID"].count())

# Calculate the percentage of students who passed math and reading (% Overall Passing)
passing_both_list = combined_data_df.loc[(combined_data_df["math_score"]>=70) & (combined_data_df["reading_score"]>=70)]
passing_both = (passing_both_list["Student ID"].count()) / (combined_data_df["Student ID"].count())

# Create a Summary DataFrame
district_summary_df = pd.DataFrame({"Total Schools": [school_count],
                                   "Total Students": [student_count],
                                   "Total Budget": [district_budget],
                                   "Average Math Score": [avg_math_score],
                                   "Average Reading Score": [avg_reading_score],
                                   "% Passing Math": [passing_math],
                                   "% Passing Reading": [passing_reading],
                                   "% Overall Passing": [passing_both]})

# Optional: give the displayed data cleaner formatting
format_dict = {'Total Students':'{:,}', 'Total Budget':'${:,.2f}', 'Average Math Score':'{:.2%}','Average Reading Score':'{:.2%}','% Passing Math':'{:.2%}','% Passing Reading':'{:.2%}','% Overall Passing':'{:.2%}'}
district_summary_df.style.format(format_dict)

In [20]:
# School Summary
# Create an overview table that summarizes the items below:                  
# Use groupby to change index and create new df
school_summary = combined_data_df.groupby(['school_name'])

# School Name
# School Type
school_type_df = school_data_df
school_type = school_type_df.set_index('school_name')["type"]

# Total Students
total_students = school_summary["size"].count()

# Total School Budget
school_budget = school_type_df.set_index('school_name')["budget"]

# Per Student Budget
stu_budget = school_budget / total_students

# Average Math Score
math_score = school_summary["math_score"].mean() / 100

# Average Reading Score
reading_score = school_summary["reading_score"].mean() / 100

# % Passing Math
stu_passing_math = passing_math_list.groupby(['school_name'])
#print(stu_passing_math)
per_passing_math = stu_passing_math["Student ID"].count() / total_students

# % Passing Reading
stu_passing_reading = passing_reading_list.groupby(['school_name'])
#print(stu_passing_math)
per_passing_reading = stu_passing_reading["Student ID"].count() / total_students

# % Overall Passing (The percentage of students that passed math and reading.)
stu_passing_both = passing_both_list.groupby(['school_name'])
#print(stu_passing_both)
per_passing_both = stu_passing_both["Student ID"].count() / total_students

# Create a dataframe to hold the above results
school_summary_df = pd.DataFrame({"School Type": school_type,
                                   "Total Students": total_students,
                                   "Total School Budget": school_budget,
                                  "Per Student Budget": stu_budget,
                                   "Average Math Score": math_score,
                                   "Average Reading Score": reading_score,
                                    "% Passing Math": per_passing_math,
                                   "% Passing Reading": per_passing_reading,
                                  "% Overall Passing": per_passing_both})

# Format Data
format_dict = {'Total Students':'{:,}', 'Total School Budget':'${:,.2f}', 'Per Student Budget':'${:.2f}','Average Math Score':'{:.2%}','Average Reading Score':'{:.2%}','% Passing Math':'{:.2%}','% Passing Reading':'{:.2%}','% Overall Passing':'{:.2%}'}
school_summary_df.style.format(format_dict)

In [21]:
# Top Performing Schools
#Sort and display the top five performing schools by % overall passing.
top_overall_passing = school_summary_df.sort_values("% Overall Passing", ascending=False)
top_overall_passing.head().style.format(format_dict)

In [22]:
# Bottom Performing Schools
bottom_overall_passing = school_summary_df.sort_values("% Overall Passing")
bottom_overall_passing.head().style.format(format_dict)

In [23]:
# Math Scores by Grade

#Find 9th
ninth_df = student_data_df.loc[student_data_df["grade"] == "9th", :]

#GroupBy
ninth = ninth_df.groupby(['school_name'])
ninth.mean()
ninth_math = ninth["math_score"].mean()/100

#Find 10th
tenth_df = student_data_df.loc[student_data_df["grade"] == "10th", :]

#GroupBy
tenth = tenth_df.groupby(['school_name'])
tenth.mean()
tenth_math = tenth["math_score"].mean()/100

#Find 11th
eleventh_df = student_data_df.loc[student_data_df["grade"] == "11th", :]

#GroupBy
eleventh = eleventh_df.groupby(['school_name'])
eleventh.mean()
eleventh_math = eleventh["math_score"].mean()/100

#Find 12th
twelfth_df = student_data_df.loc[student_data_df["grade"] == "12th", :]

#GroupBy
twelfth = twelfth_df.groupby(['school_name'])
twelfth.mean()
twelfth_math = twelfth["math_score"].mean()/100

#Create a dataframe to hold the above results
math_summary_grade_df = pd.DataFrame({"9th": ninth_math,
                                  "10th": tenth_math,
                                  "11th": eleventh_math,
                                  "12th": twelfth_math})

#Format (optional)
format_grade_levels={'9th':'{:.2%}','10th':'{:.2%}','11th':'{:.2%}','12th':'{:.2%}'}
math_summary_grade_df.style.format(format_grade_levels)

In [24]:
# Reading Scores by Grade

#Find 9th grade reading scores
ninth_read = ninth["reading_score"].mean()/100

#Find 10th grade reading scores
tenth_read = tenth["reading_score"].mean()/100

#Find 11th grade reading scores
eleventh_read = eleventh["reading_score"].mean()/100

#Find 12th grade reading scores
twelfth_read = twelfth["reading_score"].mean()/100

#Create a dataframe to hold the above results
read_summary_grade_df = pd.DataFrame({"9th": ninth_read,
                                  "10th": tenth_read,
                                  "11th": eleventh_read,
                                  "12th": twelfth_read})

#Format (optional)
read_summary_grade_df.style.format(format_grade_levels)

In [25]:
# Scores by School Spending
# Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
# Average Math Score
# Average Reading Score
# % Passing Math
# % Passing Reading
# Overall Passing Rate (Average of the above two)

#Printed Budget .max and .min to find appropriate bins
# print(school_summary_df["Per Student Budget"].max())
# print(school_summary_df["Per Student Budget"].min())
spending_summary = school_summary_df

# Create bins
bins = [0, 585, 630, 645, 660] 

# Create Group Labels
group_names = ["<$585", "$585-630","$631-645", ">$645" ]

#Add bins
spending_summary["Spending Ranges (Per Student)"] = pd.cut(spending_summary["Per Student Budget"], bins, labels=group_names)

# Groupby
scores_by_spend_df = spending_summary.groupby("Spending Ranges (Per Student)")
scores_by_spend = scores_by_spend_df.mean()

# Drop unwanted columns
grouped_spend_df = scores_by_spend.drop(['Total Students', 'Total School Budget', 'Per Student Budget'], axis=1)

# Format
format_df={'Average Math Score':'{:.2%}','Average Reading Score':'{:.2%}','% Passing Math':'{:.2%}','% Passing Reading':'{:.2%}','% Overall Passing':'{:.2%}'}
grouped_spend_df.head().style.format(format_df)

In [26]:
# Scores by School Size
# Create a table that breaks down school performances based on school size. Use 4 reasonable bins. Include in the table each of the following:
# Average Math Score
# Average Reading Score
# % Passing Math
# % Passing Reading
# Overall Passing Rate (Average of the above two)

#Printed Total Students .max and .min to find appropriate bins
# print(school_summary_df["Total Students"].max())
# print(school_summary_df["Total Students"].min())

# New DF
school_size_summary = school_summary_df

# Create bins
bins2 = [0, 1500, 2000, 3000, 6000] 

# Create Group Labels
group_labels = ["Small <1,500", "Medium 1,501-2,000","Large 2,001-3,000", "Overcrowded >3,000" ]

#Add bins
school_size_summary["School Size"] = pd.cut(school_size_summary["Total Students"], bins2, labels=group_labels)

# Groupby
scores_by_size_df = school_size_summary.groupby("School Size")
scores_by_size = scores_by_size_df.mean()

# Drop unwanted columns
grouped_size_df = scores_by_size.drop(['Total Students', 'Total School Budget', 'Per Student Budget'], axis=1)

# Format
#format_df={'Average Math Score':'{:.2%}','Average Reading Score':'{:.2%}','% Passing Math':'{:.2%}','% Passing Reading':'{:.2%}','% Overall Passing':'{:.2%}'}
grouped_size_df.head().style.format(format_df)

In [27]:
# Scores by School Type
# Create a table that breaks down school performances based on school type. Include in the table each of the following:
# Average Math Score
# Average Reading Score
# % Passing Math
# % Passing Reading
# Overall Passing Rate (Average of the above two)

# New DF
school_type_summary = school_summary_df

# Groupby
scores_by_type_df = school_type_summary.groupby("School Type")
scores_by_type = scores_by_type_df.mean()
scores_by_type.head()

# Drop unwanted columns
grouped_type_df = scores_by_type.drop(['Total Students', 'Total School Budget', 'Per Student Budget'], axis=1)

# Format - Use previously created format_df
grouped_type_df.head().style.format(format_df)