In [90]:
# Import Dependencies
import pandas as pd

# Load Files
school_data_csv = "Resources/schools_complete.csv"
student_data_csv = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(school_data_csv)
student_data_df = pd.read_csv(student_data_csv)

# Combine the data into a single dataset.  
combined_data_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
combined_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [91]:
# District Summary
# Calculate the total number of schools
school_count = len(combined_data_df["school_name"].unique())

# Calculate the total number of students
student_count = combined_data_df["Student ID"].count()
#student_count

# Calculate the total budget
# grouped_school_data = combined_data_df.groupby(['school_name'])
# grouped_school_data.head()
# df = pd.DataFrame.drop_duplicates(combined_data_df.)
# school_budget = combined_data_df["school_name"].unique()and combined_data)df["budget"]
district_budget = school_data_df["budget"].sum() 
district_budget

#Calculate the average math score
avg_math_score = combined_data_df["math_score"].mean()/100
#avg_math_score

# Calculate the average reading score
avg_reading_score = combined_data_df["reading_score"].mean()/100
# avg_reading_score

# Calculate the percentage of students with a passing math score (70 or greater)
passing_math_list = combined_data_df.loc[combined_data_df["math_score"]>=70, :]
passing_math = (passing_math_list["Student ID"].count()) / (combined_data_df["Student ID"].count())
#passing_math

# Calculate the percentage of students with a passing reading score (70 or greater)
passing_reading_list = combined_data_df.loc[combined_data_df["reading_score"]>=70, :]
passing_reading = (passing_reading_list["Student ID"].count()) / (combined_data_df["Student ID"].count())
#passing_reading

# Calculate the percentage of students who passed math and reading (% Overall Passing)
passing_both_list = combined_data_df.loc[(combined_data_df["math_score"]>=70) & (combined_data_df["reading_score"]>=70)]
passing_both = (passing_both_list["Student ID"].count()) / (combined_data_df["Student ID"].count())
#passing_both

# Create a Summary DataFrame
district_summary_df = pd.DataFrame({"Total Schools": [school_count],
                                   "Total Students": [student_count],
                                   "Total Budget": [district_budget],
                                   "Average Math Score": [avg_math_score],
                                   "Average Reading Score": [avg_reading_score],
                                   "% Passing Math": [passing_math],
                                   "% Passing Reading": [passing_reading],
                                   "% Overall Passing": [passing_both]})
district_summary_df.head()


# Optional: give the displayed data cleaner formatting
format_dict = {'Total Students':'{:,}', 'Total Budget':'${:,.2f}', 'Average Math Score':'{:.2%}','Average Reading Score':'{:.2%}','% Passing Math':'{:.2%}','% Passing Reading':'{:.2%}','% Overall Passing':'{:.2%}'}
district_summary_df.style.format(format_dict)

In [105]:
# School Summary
    # Reference activity 2-6 "GroupBy"
# Create an overview table that summarizes "School Name", "School Type", "Total Students" and "Budget"
# school_summary_df = school_data_df[["school_name", "type", "size", "budget"]]
#school_summary_df.head(15)

# Re-sort alphabetical
# school_summary_df = school_summary_df.sort.values("school_name", ascending=False)
# school_summary_df.head(15)                                                 
# Use groupby to change index
school_summary = combined_data_df.groupby(['school_name'])
print(school_summary)
school_summary.mean().head(15)

# School Name
# School Type
# Total Students
# Total School Budget
# Per Student Budget
# Average Math Score
# Average Reading Score
# % Passing Math
# % Passing Reading
# % Overall Passing (The percentage of students that passed math and reading.)
# Create a dataframe to hold the above results

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7f89ec334cf8>

,Student ID,reading_score,math_score,School ID,size,budget
school_name,,,,,,
Bailey High School,20358.5,81.033963,77.048432,7.0,4976.0,3124928.0
Cabrera High School,16941.5,83.975780,83.061895,6.0,1858.0,1081356.0
Figueroa High School,4391.0,81.158020,76.711767,1.0,2949.0,1884411.0
Ford High School,36165.0,80.746258,77.102592,13.0,2739.0,1763916.0
Griffin High School,12995.5,83.816757,83.351499,4.0,1468.0,917500.0
Hernandez High School,9944.0,80.934412,77.289752,3.0,4635.0,3022020.0
Holden High School,23060.0,83.814988,83.803279,8.0,427.0,248087.0
Huang High School,1458.0,81.182722,76.629414,0.0,2917.0,1910635.0
Johnson High School,32415.0,80.966394,77.072464,12.0,4761.0,3094650.0
Pena High School,23754.5,84.044699,83.839917,9.0,962.0,585858.0
Rodriguez High School,28035.0,80.744686,76.842711,11.0,3999.0,2547363.0
Shelton High School,6746.0,83.725724,83.359455,2.0,1761.0,1056600.0
Thomas High School,38352.0,83.848930,83.418349,14.0,1635.0,1043130.0
Wilson High School,14871.0,83.989488,83.274201,5.0,2283.0,1319574.0
Wright High School,25135.5,83.955000,83.682222,10.0,1800.0,1049400.0

In [ ]:
# Top Performing Schools
    #Reference activity 2-9 "Search for the Worst"

In [ ]:
# Bottom Performing Schools
    #Reference activity 2-9 "Search for the Worst"

In [ ]:
# Math Scores by Grade

In [ ]:
# Reading Scores by Grade

In [ ]:
# Scores by School Spending

In [ ]:
# Scores by School Size

In [ ]:
# Scores by School Type