In [15]:
# Import Dependencies
import pandas as pd

# Load Files
school_data_csv = "Resources/schools_complete.csv"
student_data_csv = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(school_data_csv)
student_data_df = pd.read_csv(student_data_csv)

# Combine the data into a single dataset.  
combined_data_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
combined_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [16]:
# District Summary
# Calculate the total number of schools
school_count = len(combined_data_df["school_name"].unique())

# Calculate the total number of students
student_count = combined_data_df["Student ID"].count()
#student_count

# Calculate the total budget
# grouped_school_data = combined_data_df.groupby(['school_name'])
# grouped_school_data.head()
# df = pd.DataFrame.drop_duplicates(combined_data_df.)
# school_budget = combined_data_df["school_name"].unique()and combined_data)df["budget"]
district_budget = school_data_df["budget"].sum() 
district_budget

#Calculate the average math score
avg_math_score = combined_data_df["math_score"].mean()/100
#avg_math_score

# Calculate the average reading score
avg_reading_score = combined_data_df["reading_score"].mean()/100
# avg_reading_score

# Calculate the percentage of students with a passing math score (70 or greater)
passing_math_list = combined_data_df.loc[combined_data_df["math_score"]>=70, :]
passing_math = (passing_math_list["Student ID"].count()) / (combined_data_df["Student ID"].count())
#passing_math

# Calculate the percentage of students with a passing reading score (70 or greater)
passing_reading_list = combined_data_df.loc[combined_data_df["reading_score"]>=70, :]
passing_reading = (passing_reading_list["Student ID"].count()) / (combined_data_df["Student ID"].count())
#passing_reading

# Calculate the percentage of students who passed math and reading (% Overall Passing)
passing_both_list = combined_data_df.loc[(combined_data_df["math_score"]>=70) & (combined_data_df["reading_score"]>=70)]
passing_both = (passing_both_list["Student ID"].count()) / (combined_data_df["Student ID"].count())
#passing_both

# Create a Summary DataFrame
district_summary_df = pd.DataFrame({"Total Schools": [school_count],
                                   "Total Students": [student_count],
                                   "Total Budget": [district_budget],
                                   "Average Math Score": [avg_math_score],
                                   "Average Reading Score": [avg_reading_score],
                                   "% Passing Math": [passing_math],
                                   "% Passing Reading": [passing_reading],
                                   "% Overall Passing": [passing_both]})
district_summary_df.head()


# Optional: give the displayed data cleaner formatting
format_dict = {'Total Students':'{:,}', 'Total Budget':'${:,.2f}', 'Average Math Score':'{:.2%}','Average Reading Score':'{:.2%}','% Passing Math':'{:.2%}','% Passing Reading':'{:.2%}','% Overall Passing':'{:.2%}'}
district_summary_df.style.format(format_dict)

In [101]:
# School Summary
    # Reference activity 2-6 "GroupBy"
# Create an overview table that summarizes the items below:                  
# Use groupby to change index and create new df
school_summary = combined_data_df.groupby(['school_name'])
print(school_summary)

# School Name
# School Type
school_type_df = school_data_df
school_type = school_type_df.set_index('school_name')["type"]

# Total Students
total_students = school_summary["size"].count()

# Total School Budget
school_budget = school_type_df.set_index('school_name')["budget"]

# Per Student Budget
stu_budget = school_budget / total_students

# Average Math Score
math_score = school_summary["math_score"].mean()

# Average Reading Score
reading_score = school_summary["reading_score"].mean()

# % Passing Math
per_passing_math_df = student_data_df
per_passing_math_list = per_passing_math_df.set_index('school_name')
stu_passing_math = per_passing_math_list.loc[per_passing_math_list["math_score"]>=70, :]
per_passing_math = stu_passing_math["Student ID"].count() 
#per_passing_math = stu_passing_math["Student ID"].count() / per_passing_math_list["Student ID"].count()


# % Passing Reading

# % Overall Passing (The percentage of students that passed math and reading.)

# Create a dataframe to hold the above results
    # Use groupby to create new dataframe and add columns from School Summary table 1.5
school_summary_df = pd.DataFrame({"School Type": school_type,
                                   "Total Students": total_students,
                                   "Total School Budget": school_budget,
                                   "Average Math Score": math_score,
                                   "Average Reading Score": reading_score})
#                                    "% Passing Math": [per_passing_math],
#                                    "% Passing Reading": [per_passing_reading],
#                                    "% Overall Passing": [per_passing_both]})
#school_summary_df.head(15)

# school_summary = school_summary.rename(columns={"reading_score":"Average Reading Score", "math_score":"Average Math Score", "size":"Total Students", "budget":"Total School Budget"})
# school_summary.head()

    # Format headings using .rename function - 1.7

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7fa18cdd5278>

In [102]:
per_passing_math

29370

In [65]:
# Top Performing Schools
    #Reference activity 2-9 "Search for the Worst"

In [51]:
# Bottom Performing Schools
    #Reference activity 2-9 "Search for the Worst"

In [ ]:
# Math Scores by Grade

In [ ]:
# Reading Scores by Grade

In [ ]:
# Scores by School Spending

In [ ]:
# Scores by School Size

In [ ]:
# Scores by School Type