In [35]:
# Import Dependencies
import pandas as pd

# Load Files
school_data_csv = "Resources/schools_complete.csv"
student_data_csv = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(school_data_csv)
student_data_df = pd.read_csv(student_data_csv)

# Combine the data into a single dataset.  
combined_data_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
combined_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [39]:
# District Summary
# Calculate the total number of schools
school_count = len(combined_data_df["school_name"].unique())
school_count

# Calculate the total number of students
# student_count_df = len(combined_data_df["student_name"].unique())
student_count = combined_data_df.count()

# Calculate the total budget
# grouped_school_data = combined_data_df.groupby(['school_name'])
# grouped_school_data.head()
# df = pd.DataFrame.drop_duplicates(combined_data_df.)
# school_budget = combined_data_df["school_name"].unique()and combined_data)df["budget"]
# school_budget

# Calculate the average math score
# avg_math_score = combined_data_df["math_score"].mean()
#avg_math_score

# Calculate the average reading score
# avg_reading_score = combined_data_df["reading_score"].mean()
# avg_reading_score

# Calculate the percentage of students with a passing math score (70 or greater)
passing_math = 

# Calculate the percentage of students with a passing reading score (70 or greater)
# Calculate the percentage of students who passed math and reading (% Overall Passing)
# Create a Summary DataFrame
district_summary_df = pd.DataFrame({"Total Schools": [school_count],
                                   "Total Students": [student_count],
                                   "Total Budget": [school_budget],
                                   "Average Math Score": [avg_math_score],
                                   "Average Reading Score": [avg_reading_score],
                                   "% Passing Math": [passing_math],
                                   "% Passing Reading": [passing_reading],
                                   "% Overall Passing": [passing_both]})

# Optional: give the displayed data cleaner formatting

SyntaxError: invalid syntax (<ipython-input-39-fc7895f3bd4f>, line 14)

In [ ]:
# School Summary
    # Reference activity 2-6 "GroupBy"

In [ ]:
# Top Performing Schools
    #Reference activity 2-9 "Search for the Worst"